<form class="{{cssClass}}" autocomplete="off">
  <main class="wikijs-container">
    <div
      class="wikijs-scrollwrapper"
      style="min-width: 240px; flex: 1; flex-grow: 0; flex-basis: 240px"
    >
      <section id="nav-panel">
        <span class="flexrow">
          <input
            type="text"
            id="searchInput"
            value="{{search.query}}"
            placeholder="{{localize 'WIKI.Search'}} ..."
        /></span>

        <span class="flexrow">
          <button type="button" id="startSearch">
            <i class="fas fa-search"></i>&nbsp;{{localize "WIKI.Search"}}
          </button>
          <button type="reset" id="resetSearch">
            <i class="fas fa-undo-alt"></i>&nbsp;{{localize "WIKI.Reset"}}
          </button>
        </span>
        <span class="flexrow"
          ><button type="button" id="getRootIndex">
            <i class="fas fa-cloud-download-alt"></i>&nbsp;{{localize
            "WIKI.Load"}}
          </button></span
        >
        {{#if search.isSearch}}
        <ul>
          {{#each search.searchResult.results as |result|}}
          <li>
            <a class="getPage" data-page-id="{{result.id}}"
              ><i class="fas fa-file-alt"></i>&nbsp;{{result.title}}</a
            >
          </li>
          {{/each}}
        </ul>
        {{else}}
        <ul>
          {{#if displayGoBack}}
          <li>
            <a class="goBack"
              ><i class="fas fa-chevron-circle-left"></i>&nbsp;{{localize
              "WIKI.GoBack"}}</a
            >
          </li>
          {{/if}} {{#each pages as |page|}}
          <li>
            {{#if page.isFolder}}
            <a
              class="getFolder"
              title="{{page.title}}"
              data-folder-id="{{page.id}}"
            >
              <i class="fas fa-folder-open"></i>&nbsp;{{page.title}}</a
            >
            {{else}}
            <a
              class="getPage"
              title="{{page.title}}"
              data-page-id="{{page.pageId}}"
              ><i class="fas fa-file-alt"></i>&nbsp;{{page.title}}</a
            >
            {{/if}}
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </section>
    </div>
    <div class="wikijs-scrollwrapper" style="width: 100%">
      <section class="wikijs-article-frame">
        <div id="loading-indicator" class="hidden">
          <span class="container"
            ><i class="fa fa-spinner fa-spin fa-5x"></i
          ></span>
        </div>
        {{#if displayImportButton}}
        <button type="button" id="importArticle">
          <i class="fas fa-file-import"></i>
          {{localize "WIKI.Import"}}
        </button>
        {{/if}}
        <article>{{{articleRender}}}</article>
      </section>
    </div>
  </main>
</form>
