.wikijs-bq {
  @include note;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #191813;
}

.is-info {
  @include note;
  background: rgba(47, 80, 132, 0.8);
  border: 1px solid #5c87b9;
  p {
    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 1em;
      content: '\f05a';
    }
  }
}

.is-success {
  @include note;
  background: rgba(27, 94, 32, 0.8);
  border: 1px solid #4caf50;
  p {
    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 1em;
      content: '\f00c';
    }
  }
}

.is-warning {
  @include note;
  background: rgba(214, 150, 0, 0.8);
  border: 1px solid #d69e07;
  p {
    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 1em;
      content: '\f071';
    }
  }
}

.is-danger {
  @include note;
  background: rgba(105, 0, 8, 0.8);
  border: 1px solid #750003;
  p {
    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 1em;
      content: '\f06a';
    }
  }
}

.align-right {
  float: right;
  margin: 0 0 1rem 1rem;
  z-index: 1;
  position: relative;
}

.align-left {
  float: left;
  margin: 0 0 1rem 1rem;
}
